<%-include("partials/header.ejs")-%>
    <div class="about-container">
        <p>Hi there,</p>
        <h1>I'm DEBANJAN</h1>
        <div class="image-container">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/577afe44-7be1-4d57-919a-c94a80d5ec31/dg8jr9r-3ca1882a-eaf5-4bfa-b778-665f747814e3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU3N2FmZTQ0LTdiZTEtNGQ1Ny05MTlhLWM5NGE4MGQ1ZWMzMVwvZGc4anI5ci0zY2ExODgyYS1lYWY1LTRiZmEtYjc3OC02NjVmNzQ3ODE0ZTMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bYuzBSsjlSkvjA11dFX1sKiiQ8mVylHcnpUksI6hLiU"
            alt="my-img">
            </div>
        <p>
            I am an enthusiastic web developer who finds immense joy in the art of crafting new websites. With a keen
            eye
            for design and a passion for coding, I thrive on bringing digital concepts to life. I relish the process of
            translating ideas into user-friendly, visually appealing, and functional websites. Every project I embark on
            is
            a canvas for my creativity, and I enjoy the constant evolution of web development, adapting to new
            technologies
            and trends. My journey as a web developer is driven by the satisfaction of turning a blank page into a
            dynamic,
            interactive, and accessible online experience.</p>
    </div>

    <%-include("partials/footer.ejs")-%>