<%-include("partials/header.ejs")-%>
    <div class="home-container">
        <h1>Welcome to Quotopia <img
                src="https://cdn4.iconfinder.com/data/icons/web-icons-22/512/left-quotes-512.png" alt=""></h1>
        <p>Discover Inspiration, Word by Word</p>
        <div class="image-container">
            <img src="https://poemanalysis.com/wp-content/uploads/2021/01/Oscar-Wilde-Portrait.jpg" alt="oscar-wilde-image">
        </div>
        <p>"The only thing to do with good advice is to pass it on. It is never of any use to oneself." - Oscar Wilde
        </p>
    </div>
    <%-include("partials/footer.ejs")-%>