<%-include("partials/header")-%>
    <div class="invalid-container">
        <h1>Oops❗</h1>
        <p>Sorry, I couldn't find a joke related to that keyword. Feel free to try another one, and I'll do my best to
            make
            you laugh!</p>
        <a href="/search"><button>Try again</button></a>
    </div>

    <%-include("partials/footer")-%>